[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "circuit-knitting-toolbox"
version = "0.0.0"
description = "A software prototype for a circuit knitting toolbox which connects user applications with runtime primitives"
readme = "README.md"
license = {file = "LICENSE.txt"}
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: Apache Software License",
    "Natural Language :: English",
    "Operating System :: MacOS",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Topic :: Scientific/Engineering :: Physics",
]

requires-python = ">=3.7"

dependencies = [
    "qiskit-aer>=0.11.0",
    "qiskit-terra>=0.22.0",
    "qiskit-nature>=0.5.0",
    "qiskit-ibm-runtime>=0.7.0",
    "docplex>=2.23.222",
    "cplex>=22.1.0.0; platform_machine != 'arm64'",
]

[project.optional-dependencies]
dev = [
    "circuit-knitting-toolbox[test,lint]",
    "nbmake",
]
test = [
    "pyscf>=2.0.1; sys_platform != 'win32'",
    "pytest>=6.2.5",
    "pytest-randomly>=1.2.0",
]
style = [
    "autoflake==1.7.6",
    "black[jupyter]==22.10.0",
]
lint = [
    "circuit-knitting-toolbox[style]",
    "pydocstyle==6.1.1",
    "mypy==0.982",
    "reno>=3.4.0",
    # pydocstyle prefers to parse our pyproject.toml, hence the following line
    "toml",
]
docs = [
    "Sphinx>=3.0.0",
    "sphinx-autodoc-typehints>=1.12.0",
    "jupyter-sphinx>=0.3.2",
    "nbsphinx>=0.8.8",
    "sphinx-copybutton>=0.5.0",
    "reno>=3.4.0",
]
notebook-dependencies = [
    "quantum-serverless>=0.0.1",
    "pyscf>=2.0.1; sys_platform != 'win32'",
    "matplotlib",
    "ipywidgets",
    "pylatexenc",
]

[project.urls]
"Documentation" = "https://qiskit-extensions.github.io/circuit-knitting-toolbox/"
"Repository" = "https://github.com/Qiskit-Extensions/circuit-knitting-toolbox"

[tool.autoflake]
remove-unused-variables = true
remove-all-unused-imports = true

[tool.flit.module]
name = "circuit_knitting_toolbox"
